<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>{{content.heading}}</h3>
                <h2 class="section-title">{{content.headingtext}}</h2>
            </div>
            <h4><b>{{content.section1title}}</b></h4>
            <p>{{content.section1text1}}</p>
            <p>{{content.section1text2}}</p>
            <h4><b>{{content.section2title}}</b></h4>
            <p>{{content.section2text1}}</p>
            <p>{{content.section2text2}}</p>

            <h4><b>{{content.section3title}}</b></h4>
            <p>{{content.section3text}}</p>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="assets/images/image-1.jpg" alt="Amaury"/>
            <img src="assets/images/image-2.jpg" alt="Amaury"/>
        </div>

    </div>


</div>
<!--End of Content Section-->
