<!--Contact-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">
        <div class="section-heading"><h3>{{contact.heading}}</h3></div>
    </div>
    <p><b>{{contact.emailtitle}}</b>{{contact.emailtext}}<br>
        <b>{{contact.phonetitle}}</b>{{contact.phonetext}}</p>
    <div class="contact-title">
        <h2>{{contact.formtitle}}</h2>
        <div class="contact-form">
            <form  id='contact-form' method='post' action=''></form>
            <input name='Nom' type='text' class='form-control' placeholder='Votre nom' required><br>
            <input name='Mail' type='text' class='form-control' placeholder='exemple@email.fr' required><br>
            <textarea name='message' class='form-control' rows='4' placeholder='message' required></textarea><br>
            <input type='submit' class='form-control submit' value='ENVOYER MESSAGE'>
        </div>
    </div>
</aside>
<!--End of Contact-->
